@media (max-width: 480px) {
  .navbar-section {
    margin-left: 1rem;
    margin-top: 0.5rem;
    .circle {
      visibility: hidden;
    }

    .nav-items {
      margin: 0;
      padding: 0;
      visibility: hidden;
    }
  }

  .summary-section {
    margin-left: 10px;

    flex-direction: column-reverse;
    align-self: start;
    align-items: center;
    align-content: center;
    .summary-container {
      margin-left: 10px;
    }
  }
  #contact-button {
    display: none;
  }
  .navbar:nth-last-child(1) {
    display: none;
    color: black;
  }
}
